first Unity Tests/A Deep Dive (Test)/Library/PackageCache/com.unity.ide.visualstudio@2.0.11/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
first Unity Tests/A Deep Dive (Test)/Temp/UnityLockfile
first Unity Tests/A Deep Dive (Test)/Library/ArtifactDB